@font-face {
  font-family: "icon-common";
  src: url('./icon-common.eot');
  src: url('./icon-common.eot?#iefix') format('eot'),
  url('./icon-common.woff2') format('woff2'),
  url('./icon-common.woff') format('woff'),
  url('./icon-common.ttf') format('truetype')
}

@mixin icon-common-styles {
  display: inline-block;
  font-family: "icon-common"; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%icon-common {
  @include icon-common-styles;
}

@function icon-common-char($filename) {
  $char: "";

  @if $filename == icon-arrow-down-double {
  $char: "\E001";
}
  @if $filename == icon-arrow-down {
  $char: "\E002";
}

@return $char;
}

@mixin icon-common($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-common;
  } @else {
    @include icon-common-styles;
  }

&:#{$insert} {
  //@extend %pseudo-el-class;
  content: icon-common-char($filename);
}
}

.icon-common-icon-arrow-down-double {
  @include icon-common(icon-arrow-down-double);
}
.icon-common-icon-arrow-down {
  @include icon-common(icon-arrow-down);
}